body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-board {
    width: 400px;
    height: 400px;
    background-color: #bbada0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.tile {
    width: 90px;
    height: 90px;
    background-color: #cdc1b4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
}
